{
  "singleQuote": true,
  "semi": true,
  "proseWrap": "preserve",
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "css"
}
